<%= simple_form_for registration, url: form_url do |form| %>
  <%= form.error_notification %>

  <fieldset>
    <legend>Personal Information</legend>
    <div class="row">
      <div class="six columns">
        <%= form.input :first_name %>
      </div>
      <div class="six columns">
        <%= form.input :surname %>
      </div>
    </div>
    <%= form.input :nickname %>
    <%= form.input :email %>
    <%= form.input :gender, as: :radio_buttons, collection: gender_options %>
    <%= form.input :birthday, as: :date, end_year: Time.zone.now.year,
                                         start_year: 1900 %>
  </fieldset>

  <fieldset>
    <legend>Fundraising Information</legend>
    <%= form.input :fundraiser, as: :radio_buttons,
                                collection: fundraiser_options(order) %>
    <%= form.input :charity_id, collection: charity_options %>
    <% unless order.primary_registrant %>
      <%= form.input :team_name %>
    <% end %>
    <div class="row">
      <div class="twelve columns">
        <%= form.label :target %>
        <div class="row">
          <div class="twelve columns">
            <div class="row collapse">
              <div class="one columns mobile-one">
                <span class="prefix">$</span>
              </div>
              <div class="eleven columns">
                <%= form.text_field :target %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Entry Information</legend>
    <%= form.input :distance, as: :radio_buttons,
                              collection: distance_options %>
  </fieldset>

  <div class="form-actions">
    <%= form.button :submit, 'Confirm' %>
  </div>
<% end %>
