<%= simple_form_for :payment, url: pay_path(order_id: order) do |form| %>
  <%= form.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="twelve columns">
        <%= form.label :total %>
        <div class="row">
          <div class="twelve columns">
            <div class="row collapse">
              <div class="one columns mobile-one">
                <span class="prefix">$</span>
              </div>
              <div class="eleven columns">
                <%= form.text_field :total, disabled: true,
                                            value: number_to_currency(order.total, unit: '') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= form.input :name, label: 'Name on Card' %>
    <%= form.input :number %>
    <%= form.input :expiry, as: :date, start_year: Time.zone.now.year,
                                       add_month_numbers: true,
                                       discard_day: true,
                                       order: [:month, :year],
                                       date_separator: '/' %>

    <%= form.input :ccv, label: 'CCV' %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, 'Pay' %>
  </div>
<% end %>
